@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;1,200;1,300&display=swap');
* {
    color: white;
    font-size: small;
    font-family: 'Source Sans 3', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
.nav-bar {
    background-color: rgb(18, 25, 33);
    height: 50px;
}
.nav-bar-main {
    display: flex;
    justify-content: space-between;
}
#amazon-logo {
    height: 50px;
    width: 100px;
}
#location-logo {
    height: 20px;
    margin-top: 15px;
}
#indian-flag {
    height: 20px;
    width: 29px;
}
#cart-icon {
    height: 20px;
    width: 30px;
    margin-top: 10px;
}
.down-arrow {
    height: 10px;
}
.down-arrow-1 {
    height: 8px;
    margin-top: 15px;
}
.select-location {
    display: flex;
    justify-content: space-between;
}
.select-location-1 {
    position: relative;
    margin-top: -20px;
}
.cart-logo {
    display: flex;
    justify-content: space-between;
}
.search-box {
    width: 750px;
    height: 30px;
    background-color: white;
    border:1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
.search-icon {
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    height: 20px;
}
.search-box-1 {
    display: flex;
    justify-content: space-between;
    width: 30px;
}
.search-div {
    display: flex;
    justify-content: space-between;
}
.search-box-2 {
    width: 50px;
    background-color: rgb(251, 190, 103);
    height: 30px;
    border-radius:5px;
    position: relative;
}
.search-box-1-1 {
    color: grey;
}
.region {
    margin-top: 20px;
}
#hello {
    position: relative;
    margin-top: 5px;
}
#select-your-address {
    position: relative;
    margin-top: -10px;
}
#hello-sign-in {
    position: relative;
    margin-top: 3px;
}
#accounts {   
    position: relative;
}
#returns {
    position: relative;
    margin-top: -3px;
}
.nav-bar-2 {
    width: 100%;
    height: 35px;
    background-color: rgb(36, 48, 64);
    display: flex;
    justify-content: space-between;
}
.nav-bar-2-main {
    display: flex;
    justify-content: space-between;
    width: 900px;
}
.menu-option {
    margin-top: 14px;
    margin-left: 8px;
    height: 12px;
}
.menu-all {
    width: 40px;
    display: flex;
    justify-content: space-between;
}
.categories {
    color: grey;
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.lion {
    height: 30px;
    position: relative;
}
.prime-day-logo {
    height: 30px;
}
.image-container {
    position: relative;
    display: inline-block;
    background-image: url(assets/background\ picture.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

/* .image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    pointer-events: none;
} */
.first-container {
    width: 310px;
    height: 380px;
    background-color: white;
    position: relative;
    margin-top: 300px;
}
.second-container {
    width: 310px;
    height: 380px;
    background-color: white;
    position: relative;
    margin-top: 300px;
}
.third-container {
    width: 310px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 300px;
}
.forth-container {
    width: 310px;
    height: 380px;
    position: relative;
    margin-top: 300px;
}
.container1-1 {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.container1-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.third-container-1 {
    position: relative;
    margin-left: 17px;
}
.last-text {
    color: black;
    font-size: 21px;
    font-weight: bold;
    margin-left: 30px;
}
.brands {
    color: black;
    font-size: 21px;
    font-weight: bold;
    margin-left: 30px;
    position: relative;
    margin-top: -20px;
}

.sign-in-text {
    color: black;
    font-size: 21px;
    font-weight: bold;
    margin-left: 30px;
    position: relative;
}
.forth-container-1 {
    background-color: white;
    margin-top: -20px;
    padding-top: -20px;
    height: 130px;
}
.forth-container-1-1 {
    background-color: rgb(254, 216, 19);
    width: 200px;
    height: 30px;
    position: relative;
    margin-top: -10px;
    margin-left: 50px;
    border-radius: 10px;
}
.image {
    margin-top: 40px;
    margin-left: 25px;
}
.image-names{
    display: flex;
    justify-content: space-around;
    color: black;
}
.see-more {
    color: rgb(75, 75, 225);
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* CODE FOR MOBILE RESPONSIVE */

@media screen and (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    html {
        width: 100%;
    }
    .nav-bar {
        width: 100%;
        height: 20px;
    }
    .nav-bar-main {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;
    }
    .nav-bar-2-main {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
    .nav-bar-2 {
        height: 15px;
    }
    #amazon-logo {
        width: 40px;
        height: 22px;
    }
    #location-logo {
        display: none;
    }
    #select-your-address {
        display: none;
    }
    .search-box {
       width: 100px;
       height: 13px;
       margin-top: 3px;
       border-radius: 3px;
       margin-left: -30px;
    }
    .search-box-2 {
        height: 13px;
        width: 20px;
    }
    .search-icon {
        margin-top: 0px;
        width: 10px;
        height: 10px;
        margin-left: 7px;
    }
    .search-box-1-1 {
        font-size: xx-small;
        margin-left: 2px;
    }
    .down-arrow-1 {
        display: none;
    }
    #indian-flag {
        width: 13px;
        height: 9px;
        /* margin-left: 4px;
        margin-top: 3px; */

    }
    .region {
        margin-top: 0px;
        margin-left: -9px;
    }
    .down-arrow {
        width: 10px;
        height: 5px;
        display: none;
    }
    p {
        font-size:5px;
    }
    #hello-sign-in {
        display: none;
    }
    .account-options {
        margin-top: 15px;
        margin-left: -9px;
    }
    #accounts {
        font-size: 5px;
        margin-top: 15px;
    }
    #returns {
        /* margin-left: 30px; */
        font-size: 5px;
        /* display: none; */
    }
    #orders {
        font-size: 5px;
        padding-top: 8px;
    }
    #cart-icon {
        width: 15px;
        height: 9px;
        margin-top: 7px;
    }
    .cart {
        font-size: 6px;
        margin-top: 8px
    }
    .first-container {
        margin-top: 100px;
        height: 205px;
        align-items: center;
        align-content: center;
        left: 3%;
    }
    .third-container {
        display: none;
    }
    .forth-container {
        display: none;
    }









    .nav-bar-2-last {
        display: none;
    }
    .brands{
        display: none;
    }.forth-container-1 {
        display: none;
    }
    .image {
        display: none;
    }
    .last-text {
        display: none;
    }
    .third-container-1 {
        display: none;
    }
    .second-container {
        display: block;
        margin-left: -270px;
        height: 205px;
        left: -4%;
        margin-top: 400px;
    }
    #remove {
        display: none;
    }
    .menu-all {
        display: none;
    }
}